@import '../../sass/variables.scss';

.recipe-card {
    .card {
        .card-body {
            .card-title {
                &:hover {
                    color: $yellow;
                }
            }

            a {
                text-decoration: none;

                .view-more {
                    opacity: 0;
    
                    &:hover {
                        opacity: 1;
                        color: $yellow;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media (max-width: 992px) { 
        .card {
            .card-body {
                .card-title {
                    font-size: 18px;
                }
                .card-text {
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
    
                    .view-more {
                        opacity: 1;
                        color: $yellow
                    }
                }
            }
        }
    }
    
    @media (max-width: 768px) { 
        .card {
            .card-body {
                .card-title {
                    font-size: 15px;
                }
                .card-text {
                    font-size: 12px;
                }
            }
        }
    }

    @media (max-width: 576px) { 
        .card {
            .card-body {
                .card-title {
                    font-size: 18px;
                }
                .card-text {
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: 450px) { 
        .card {
            .card-body {
                .card-title {
                    font-size: 16px;
                }
                .card-text {
                    font-size: 12px;
                }
            }
        }
    }
}